<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="app">
        {{!-- Nội dung header trong partials --}}
        {{> header}} 
        
        <main>
            {{!-- Nội dung cần render ở các file handlebars con trực tiếp của views --}}
            {{{body}}}
        </main>
        {{!-- Nội dung footer trong partials --}}
        {{> footer}}
    </div>
    
</body>
</html>