@page "/aboutrazor.html"
@{
    Layout="_Layout";
}
<h1>Giới thiệu về Razor</h1>
<p>
    Razor là 1 template engine trong .NET, nó cho phép bạn viết code C# trong file HTML. Razor giúp bạn tạo ra các trang web một cách dễ dàng và linh hoạt.
</p>